<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-2 items-center justify-center text-center p-4">
    <div class="text-5xl font-medium">
      Sales Tax Calculator
    </div>
  </div>
</header>
<div class="mx-32 my-4">
  <nav class="relative z-0 rounded-lg shadow flex divide-x divide-gray-200" aria-label="Tabs">
    <a href="/categories" class="<%= request.path == "/categories" ? "text-white font-semibold bg-indigo-500" : "text-gray-900 bg-white hover:bg-gray-50 " %> rounded-l-lg group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-sm font-medium text-center focus:z-10">Category</a>
    <a href="/invoices" class="<%= request.path == "/invoices" ? "text-white font-semibold bg-indigo-500" : "text-gray-900 bg-white hover:bg-gray-50 " %> rounded-r-lg group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-sm font-medium text-center focus:z-10">Invoices</a>
  </nav>
</div>