<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-2 items-center justify-center text-center p-4">
    <div class="text-5xl font-medium">
      Sales Tax Calculator
    </div>
  </div>
</header>