<div class="w-full lg:px-96">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Taxes</h1>
  </div>
  <div class="max-w-2xl my-8">
    <div class="table font-bold min-w-full">
      <div>Name</div>
      <div>Rate</div>
      <div></div>
    </div>
    <%= turbo_frame_tag "new-tax-form", src: new_tax_path %>
    <div id="taxes">
      <%= render @taxes %>
    </div>
  </div>
</div>
